@font-face {
    font-family: letraBonita;
    src: url(../font/Gilroy-Regular.woff2);
}

body {
    font-family: letraBonita;
    margin: 0;
    background-color: black;
}

* {
    box-sizing: border-box;
}

.row {
    display: flex;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.wrap {
    flex-wrap: wrap;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

nav ul, nav li {
    padding: 0;
    margin: 0;
}

nav ul {
    list-style-type: none;
}

nav li {
    padding: 10px 10px;
    display: inline;
    border-radius: 40px;
}

header {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1000;
    padding: 20px 18px;
    background-color: black;
}

header nav li {
    margin-left: 10px;
    margin-right: 10px;
}

header nav li a {
    text-decoration: none;
    color: white;
}

header nav li:hover {
    border: solid 3px #a544f2;
}

.text-center {
    text-align: center;
}

.boton {
    font-weight: bold;
    border: none;
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 14px;
    background-color: #a544f2;
    color: white;
}

.portada {
    background-image: url(../img/30coins.avif);
    height: 420px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -20px;

}

.contenidoPortada {
    width: 32%;
    left: 70px;
    top: 100px;
}

section div h4, h2 {
    color: white;
    font-weight: bold;
}

section div h5 {
    color: white;
}

.col-4 {
    width: 24%;
    padding-bottom: 8px;
}

.imagenes {
    width: 95%;
    margin: 0 auto;
}

footer {
    background-color: #040426;
    padding-bottom: 30px;
}

footer nav li a {
    text-decoration: none;
    color: #635ca3;
    font-weight: bold;
}

footer nav ul {
    margin-top: 20px;

}

footer nav li {
    margin-left: 5px;
    margin-right: 5px;
}

footer div h4 {
    font-weight: bold;
    color: #635ca3;
}

footer nav a:hover {
    color: white;
}